# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Local environment / build outputs
dist/
build/
.cache/
.temp/
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp

# Nhost local dev folders
.nhost/
.secrets

.env.local
.env.production